:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario:  #4682b4;
    --secundario:  rgba(255, 193, 7, 1);
    --gris: #969696;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: "krub", "sans-serif"; /*colocar acá para que apliquen a todo el body*/
    background-image: linear-gradient(
        to top, 
        #C7C7C7 0%, 
        var(--blanco) 100%);
}

/*@media (min-width: 480px) {
    body {
        background-color: red;
    }
    
}*/

h1 {
    text-align: center;
    color: blue;
    text-transform: uppercase;
    font-size: 3.8rem;
    /*Se aplica en cascada de arriba hacia abajo*/
}
span {
    font-size: 2rem;
}
h2 span{
    /*a todos los span que pertenezcan a h2*/ 
    font-size: 1rem;
    color: green;
}

.titulo{
    text-align: center;
    font-size: 4rem;
    color: var(--primario);
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    width: 120rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: auto;
    margin-left: auto;
}

.contenedor span{
    width: 120rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: auto;
    margin-left: auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    padding: 1rem;
    display: flex;
    flex-direction: row; /*por defecto es row*/
    justify-content: space-around;
    /*align items: center; el justify para columnas*/
}

@media (min-width: 1140px) {
    
}
@media (max-width: 768px){
    .navegacion-principal{
        flex-direction: row;
    }
}

.navegacion-principal a{
    /*background-color: var(--primario);
    display: inline;  si se pone block se pone hacia abajo*/
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url("../imagenes/daw.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
    position: relative;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p{
    color: var(--blanco);
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1, 
h2, 
h3{
    text-align: center;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover{
    cursor: pointer;
}

@media (min-width: 480px){
    .boton{
        width: auto; /*resetear el tamaño*/
    }
}

.sombra{
    box-shadow: 0px 5px 15px -3px #707070;
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

@media (min-width: 768px){
    .lenguajes{
        display: grid;
        /*grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-template-columns: 25% 25% 25% 25%;*/
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 7rem;/*espacio entre columnas*/
        /*  grid-template-columns: repeat(4, 1fr);*/

        /*  FILAS  / COLUMNAS */
        /*grid: 200px 200px / 300px 300px;*/
    }
}

.lenguaje{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lenguaje h3{
    color: var(--secundario);
    font-weight: bold;
}

.lenguaje p{
    text-align: center;
    line-height: 1.5;
}

.lenguaje .iconos{
    height: 10rem;
    width: 10rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Formulario de contacto*/
.formulario{
    background-color: var(--gris);
    width: min(
        60rem, 
        100%
    );
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--oscuro);
}

@media (min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 1rem;
        grid-template-rows: auto auto 20rem ;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
    grid-column: 1/3;
    }
}

.contenedor-campos{
    
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.enviar .boton{
    width: 100%;
}

.footer{
    text-align: center;
}

.lenguajesd, .navegacion-principal, .formulario{
    scroll-snap-type: center;
    scroll-snap-stop: always;
}